.login-section-background {
    background-image: url('../../../public/login-wave-background.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position:right;
    rotate: 180deg;
}
